<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      All food stored in freezer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let foodItem of allFoodInFreezer">
      <!-- on va itérer sur allFoodInfreezer -->
      <!-- on va générer dynamiquement: pour chaque fooditem fournit par les services soit générer un ion-item -->
      <ion-label>
        {{foodItem.foodName}}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>